#palcontent {
    overflow: hidden;
    height: 100%;
    float: left;

}

#imageContent {
    background-color: #fff;
    /* width: inherit; */
    height: 60%;
    padding: 2px 0px 40px 0px;
    margin: 10px;
    columns: 6;
}

#imageContent li {
    display: inline-block;
    background-color: #fff;
}



.imageItem {
    margin: 0px;
    padding: 0px;
    width: 130px;
    height: 120px;
    text-align: center;
    cursor: pointer;
}

li.selected {
    background-color: aqua;
    color: #000;
    cursor: pointer;
}

.imageItem img{
    width: 130px;
    height: 95px;
}