#getinfo {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
}

#getinfo .float-left {
    float: left;
}

#getinfo .float-right {
    float: right;
}